// Colors
$color__white       :          #FFFFFF;
$color__Black       :          #000000;
$color__pink        :          #CB007B;
$color__red         :          #cf313f;
$color__brown       :          #a98975;
$color__lightBlue   :          #00abc5;
$color__green       :          #1b9f99;
// Fonts
$font-janna-bold    :         'JannaLT-Bold';
$font-janna         :         'JannaLT-Regular';